@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

footer {
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 4.5vw 3.5vh 4.5vw;
}

.copyright {
    align-self: flex-end;
    margin: 0;
    font-size: 2.4rem;
}

.rede-social a{
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
}
.rede-social a:hover{
    color: #0d6efd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0;
    text-decoration: none;
}

.rede-social p {
    font-size: 2.4rem;
    align-self: center;
    display: inline-block;
    margin: 3px 21px 0 0;
}

.rede-social i {
    align-self: center;
    font-size: 2.4rem;
    margin-right: 7px;
}

@media screen and (max-width: 768px){
    footer{
        flex-direction: column-reverse;
    }

    .copyright {
        align-self: center;
        margin-top: 30px;
    }

    .rede-social a{
        justify-content: center;
    }
}